@import 'tailwindcss';

@theme {
  --color-primary-50: #FFFFFF;
  --color-primary-100: #FFEFD7;
  --color-primary-200: #FFDEA6;
  --color-primary-300: #F7BD48;
  --color-primary-400: #D8A22E;
  --color-primary-500: #BA880F;
  --color-primary-600: #7B5800;
  --color-primary-700: #5D4200;
  --color-primary-800: #412D00;
  --color-primary-900: #271900;

  --color-secondary-100: #FFEDE9;
  --color-secondary-200: #FFDAD3;
  --color-secondary-300: #FFB4A6;
  --color-secondary-400: #F78E7A;
  --color-secondary-500: #D77562;
  --color-secondary-600: #B85C4B;
  --color-secondary-700: #994535;
  --color-secondary-800: #5D180C;
  --color-secondary-900: #3F0300;
}

html {
  padding-top:  12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FCF9F8;
}
